@section Styles {
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
}
<div class="row OMSEnvHeader" >
    <div class="clo-lg-12 col-md-12 col-sm-12"  >
         <h4>Supply Centre</h4>
    </div>
</div>
