@section Styles {
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
}
<div class="row">
    <div class="clo-lg-12 col-md-12 col-sm-12 OMSEnvFooter" style="text-align:center;"  >
         <span >Site Footer</span>
    </div>
</div>